<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="VFDSEntities" connectionString="metadata=res://*/VFDS.csdl|res://*/VFDS.ssdl|res://*/VFDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAK-PC\MSSQL14;initial catalog=VFDS;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>